.links {
  margin: auto;
  width: 60%;
}

.links > .linkWrapper {
  margin: auto;
  width: 400px;
}

.links > .linkWrapper > .link {
  display: inline;
}

@media screen and (max-width: 575px) {
  .links {
    width: 100%;
  }

  .links > .linkWrapper {
    margin: auto;
    width: 100%;
  }

  .links > .linkWrapper .link {
    display: block;
  }
}
