<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>

  <body class="{{ page.colorspace }}">
    <div class="wrapper">
      {% if site.show_header %}<section>
      {% else %}<section class="no-header">{% endif %}
        <div id="title">
          {% if page.icon %}
            <img src="{{ page.icon | relative_url }}" />
          {% endif %}
          <h1>
            <a href="{{ site.baseurl }}{% link index.md %}">
              {{ site.title | default: site.github.repository_name }}
            </a>
          </h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>

          <div id="pages">
          {% for page in site.pages %}
            <span class="page">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </span>
          {% endfor %}
          </div>
          <hr>
        </div>

        {{ content }}

        <div id="footer">
          <hr />
          <span class="credits left">
            <!--Project maintained by <a href="{{ site.github_username }}">{{ site.github_username }}</a>-->
            <div class="social-media-container email purple">
                <a href="mailto:{{ site.email }}">
                  <span class="username">{{ site.email }}</span>
                </a>
            </div>
            <div class="social-media-container yellow">
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                  <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
                  </svg>
                  <span class="username">{{ site.linkedin_username }}</span>
                </a>
            </div>
            <div class="social-media-container orange">
                <a href="https://github.com/{{ site.github_username }}">
                  <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                  </svg>
                  <span class="username">{{ site.github_username }}</span>
                </a>
            </div>
            <div class="social-media-container cyan">
                <a href="https://www.twitter.com/{{ site.twitter_username }}">
                  <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                  </svg>
                  <span class="username">{{ site.twitter_username }}</span>
                </a>
            </div>
          </span>
          <span class="credits right">Theme by <a href="https://draculatheme.com/">Dracula</a></span>
        </div>
      </section>

    </div>

    {% if site.google_analytics and jekyll.environment == 'production' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-7EE05BNPDH"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7EE05BNPDH');
      </script>
    {% endif %}
  </body>
</html>
